[submodule "miniircd/source"]
	path = miniircd/source
	url = https://github.com/jrosdahl/miniircd.git

[submodule "tircd/source"]
	path = tircd/source
	url = https://github.com/DexterTheDragon/tircd.git
	branch = my_version
