[submodule "tircd/source"]
	path = tircd/source
	url = https://github.com/DexterTheDragon/tircd.git
[submodule "miniircd/source"]
	path = miniircd/source
	url = https://github.com/jrosdahl/miniircd.git
[submodule "weevely/source"]
	path = weevely/source
	url = https://github.com/epinna/weevely3.git
